body{
	background: #ACD0DB url("data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAF2CAYAAACvRfJEAAAA1ElEQVQ4y51VQRICIQxL+P/Ju5/QJznjyT/Ug64INKGztwU2aUnb0C7X+609ni80AGgAovH3dexly+wgGkhY2P+SGYGJ1ulDpVGgH7DcxI1BF8poE6nn6xKL/EhzrbVGeYwai8mU9JVhaDXISmlzEUkWfp72OlYyG+yRrsJS3lKSIlF3mpRT2C/M95XoTsJilXSs9JBvwmw4Q5PCtMBO2I2rmAaBGogYhchPnT10JU3NT7H4mRZCLC5aMBnH95m8vTGCMtrqtnSnW3r/bmUGVX23JAJv0QW40LEL68QAAAAASUVORK5CYII=") repeat-x;      	                      	
	font-family: "Bookman Old Style";
}

#header a{
    text-decoration: none;
	color: black;	
}    

#content a{    
    color: black;
}

#header{
	height: 400px;
    float: left;
    margin-bottom: 10px;
    width: 150px;
	margin-left: 30px;  
	font-family: 'Verdana';
	position: fixed;
}

#header ul{      	
	padding: 0;
    list-style-type: none;
}            

#description {   	
	width: 200px;     
	font-size: 13px;
	line-height: 26px; 
	font-family: 'Verdana'
}

#header li{
	padding-bottom: 13px;
}

#wrapper{  
	min-width: 1070px;
}

#content{
	text-align: justify;   	
	font-size: 16px;
	line-height: 26px;
	width: 800px;
	margin: 50px auto;
	padding-left: 200px;	  
}                         

.post, #header{
	background-color: #f0ffff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 7px #5a74a4;
	-moz-box-shadow: 0px 0px 7px #5a74a4;
	padding: 25px;
}   
   
#content h1, h2{
	font-size:100%;
	font-family: 'Verdana'
}

p{
	text-indent: 1.5em;
}

p.not_indented{
	text-indent: 0
}        
   
.image{
    text-align: center;    
}

.image img{
    margin: 25px 0px;
    -webkit-box-shadow: 0 0 10px rgb(0,0,0);
    -moz-box-shadow: 0 0 10px rgb(0,0,0);
}

.sub{
    text-align: center
}

.date{         
	display:inline;
	height: 60px;
}

.title{           
	display:inline;
	float:right;
}
          

.post-list span{
	display:inline-block;
    width:350px;
}

.index{         
	font-size:90%;
	font-family: 'Verdana';		
}                           

.index a{ text-decoration: none;}

.first-image{
	padding-right: 13px;
}
.second-image{
	padding-right: 3px;
}
.third-image{
	padding-right: 10px;
}