body{
    margin: 0px auto;
    background-color: #333333;
}

#header a{
    text-decoration: none;
    color: white;
}    

#content a{    
    color: black;
}

#header{
    margin: 40px auto;
    color: white;
}

#header ul{
    margin: 0px 0px;
    list-style-type: none;
    text-align: right;
}
#header li{
    display:inline;
    padding: 7px;
}

#content{
    text-align:left;
    padding:15px;
    background-color: azure;
    border:1px solid white;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -border-radius: 15px;
    
    -webkit-box-shadow: 0 0 10px rgb(0,0,0);
    -moz-box-shadow: 0 0 10px rgb(0,0,0);
}

.image{
    text-align: center;    
}

img{
    margin: 25px 0px;
    -webkit-box-shadow: 0 0 10px rgb(0,0,0);
    -moz-box-shadow: 0 0 10px rgb(0,0,0);
}

.sub{
    text-align: center
}
    
#wrapper{
    width: 650px;
    margin:0px auto;    
}

#footer{
    color: white;
}