ul.unstyled
  li
    link: a href='/posts/davinci-lms.html' 
      span.date 2012-04-26
      span.title DaVinci LMS
  li
    link: a href='/posts/mendicant-university.html' 
      span.date 2011-10-19
      span.title Mendicant University: The art of teaching
  li
    link: a href='/posts/thoughts-of-an-erasmus-student.html' 
      span.date 2011-07-14
      span.title Thoughts of an Erasmus student, an anthropological Post-Mortem
