<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>Nerian's blog'</title>
    <link>http://nerian.es/rss.xml/</link>
    <description>Gonzalo Rodriguez on Web Development</description>

    <% @posts.each do |post| %> 
      <item>
        <title>
          <%= post['title']%>
        </title>
        <link><%= post['url']%></link>
        <description></description>
        <guid><%= post['url']%></guid>
      </item>
    <% end %>

  </channel>
</rss>
