---
layout: includes
---
<div id="wrapper">          
	<div id="header">       	   
		<div id='actions'>
			<ul>
				<li><a href="/index.html">Blog</a></li>
				<li><a href="/about.html">Hire me</a></li>
				<li>
					<a href="http://feeds.feedburner.com/Nerian-blog" 
					target='_blank' 
					type="application/rss+xml">					
					Subscribe</a>
				</li>				
			</ul>
		</div>		                                                                     
	</div>                                                 	
	<div id="content">                                     
		<div class='post'>
			{{ content }}                                                                                                  			
		</div>                                                                                                             				
	</div>
	<div id="footer">       	   
		<a href="/about.html">Hire a great web developer</a>
	</div>   	
</div>     