---
layout: includes
---
<div id="wrapper">
	<div id='languages'>
		<a href='index_es.html'><img height="20" width="20" src='images/es-flag.png'></img></a>
		<a href='index.html'><img height="20" width="20" src='images/en-flag.png'></img></a>
	</div>
	<div id="header">
		<div id='description'>                    
			<span>Gonzalo Rodríguez,</span><br>
			<span>
				Desarrollador Web<br>
				Freelance especializado<br>  
				en Ruby y MongoDB
			</span>			
		</div>                                                                  
		<hr>
		<div id='actions'>
			<ul>
				<li><a href="/index_es.html">Blog</a></li>
				<li><a href="/about_es.html">Sobre mí</a></li>
				<li><a href="/hireme_es.html">Contrátame</a></li>
				<li><a href="http://careers.stackoverflow.com/nerian" target='_blank'>Curriculum</a></li>				
			</ul>
		</div>		                                                                     
		<hr>
		<div id='external-actions'>
			<ul>
				<li><a href="http://feeds.feedburner.com/Nerian-blog" target='_blank' type="application/rss+xml"><img class='first-image'src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/> Suscríbete </a>&nbsp;</li>
				<li><a href="https://github.com/Nerian" target='_blank'><img class='second-image' STYLE="position:relative; top:9px" height="27" width="27" src="/images/github.png"/> Github</a></li>
				<li><a href="http://www.twitter.com/iCodeErgoExist" target='_blank'><img class='third-image' STYLE="position:relative; top:5px" src="http://twitter-badges.s3.amazonaws.com/t_small-a.png" alt="Seguir a iCodeErgoExist en Twitter"/> Twitter</a></li>
			</ul>			
		</div>		
	</div>
	<div id="content">
		<div class='post'>
			{{ content }}                                                                                                  			
		</div>                                                                                                             				
	</div>   	
</div>