---
layout: master
---
      
<div>
	<h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
	<em>Posted on {{ page.date | date_to_long_string }}</em>
	<br/>
	<div>
		{{ content }}		                              				
	</div>	                                              	
</div>                        

<script type="text/javascript">
	var disqus_shortname = 'nerian-blog';
	(function () {
  		var s = document.createElement('script'); s.async = true;
  		s.src = 'http://disqus.com/forums/nerian-blog/count.js';
  		(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	}());
</script>                          